<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">



<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a9dfff">
    <a class="navbar-brand" routerLink="">MoneyMoney</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto" *ngIf="isLogged | async">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/actions">Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/operations">Credit/Debit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/memo">Memo</a>
        </li>
      </ul>



      <div id="sidebar">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-light register" data-toggle="modal" data-target="#exampleModal" *ngIf="!(Registered | async)">
          Inscription
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="registered()">
                  <div class="form-group">
  
                    <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Pseudo" [(ngModel)]="user.username" name="username">
                  </div>
                  <div class="form-group">
                  <input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="user.email" name="email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="user.password" name="password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="passwordRepeat" placeholder="Repeat Password" name="password-repeat">
                    <!-- faire un ng model avec un user.passwordRepeat et rajouter dans le user -->
                  </div>
  
                  <button type="submit" class="btn btn-primary" style="background-color:#a9dfff; border:none;">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>



      <button type="button" class="btn btn-outline-light logout" (click)="logout()" *ngIf="(isLogged | async)">Logout</button>
  
    </div>
  </nav>


