a {
   color: white !important;
   font-family: 'Cairo', sans-serif !important; 
}
.navbar-brand {
   font-size: 30px !important;
}
.register {
    margin-right: 5px;
    font-family: 'Cairo', sans-serif !important; 
}
.logout {
    font-family: 'Cairo', sans-serif !important; 
}