.form-group {
    margin: 20px;
    width: 70%;
}
.btn {
    margin: 20px;
}
h2 {
    text-align: center;
    font-family: 'Cairo', sans-serif !important; 
    margin-top: 20px; 
}
table {
    width: 80%;
    margin-left: 150px;
    margin-top: 30px;
    font-family: 'Cairo', sans-serif !important;
}
form {
    font-family: 'Cairo', sans-serif !important;
}