<h2>MEMO</h2>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Next Operation"
      [(ngModel)]="memo.name" name="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="example" placeholder="Amount" [(ngModel)]="memo.value" name="value">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Comment" [(ngModel)]="memo.comment" name="comment">
  </div>
  <div class="form-group date">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="memo.date" name="dp" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" style="background-color: #a9dfff; border: none;" *ngIf="!this.edit" (click)="onSubmit()">Add</button>
  <button type="submit" class="btn btn-primary" style="background-color: #a9dfff; border: none;" *ngIf="this.edit" (click)="onSubmit()">Edit</button>
</form>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Comment</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of all">
      <td>{{obj.name}}</td>
      <td>{{obj.value}}€</td>
      <td>{{obj.comment}}</td>
      <td *ngIf="!obj.date.day">{{obj.date | date:'dd/M/yyyy'}}</td>

      <td *ngIf="obj.date.day">{{obj.date.day}}/{{obj.date.month}}/{{obj.date.year}}</td>
      <a (click)="clickDelete(obj)"><i class="fas fa-trash-alt" ></i></a>
        <a (click)="clickUpd(obj)"><i class="fas fa-edit"></i></a>
    </tr>

  </tbody>
</table>