<h2>CREDIT/DEBIT</h2>

<form (ngSubmit)="onSubmit()">
  <div class="slider-choice">
  <p>CREDIT </p><label class="switch">
    <input type="checkbox" name="checked" [(ngModel)]="checked">
    <span class="slider round"></span>
  </label><p> DEBIT</p>
</div>

  <div class="form-group">
    <input type="text" class="form-control" id="operations-name"  placeholder="Name" [(ngModel)]="operations.name" name="name">
  </div>
  <div class="form-group">
    <input type="number" min="0" class="form-control" id="amount" placeholder="Amount" [(ngModel)]="operations.value" name="value">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="comment" placeholder="Comment" [(ngModel)]="operations.comment" name="comment">
  </div>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="operations.date" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" style="font-family: 'Cairo', sans-serif !important; background-color: #a9dfff; border: none;">Send</button>

</form>