.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #a9dfff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #a9dfff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  h2 {
    text-align: center;
    font-family: 'Cairo', sans-serif !important; 
    margin-top: 20px;
  }
  .slider-choice {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-group {
  margin: 20px;
  width: 70%;
}
.btn {
  margin: 20px;
}
p, input {
  font-family: 'Cairo', sans-serif !important; 
}