<h2>ACTIONS</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Comment</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of actions">
        <td>{{item.name}}</td>
        <td>{{item.value}}€</td>
        <td>{{item.comment}}</td>
        <td>{{item.date}}</td>
        <a (click)="clickDelete(item)"><i class="fas fa-trash-alt" ></i></a>
        <a ><i class="fas fa-edit"></i></a>
      </tr>

    </tbody>
  </table>