h2 {
    text-align: center;
    font-family: 'Cairo', sans-serif !important; 
    margin-top: 20px;
}

table {
    width: 80%;
    margin-left: 150px;
    margin-top: 30px;
    font-family: 'Cairo', sans-serif !important;
}