.home-text {
    font-size: 40px;
}
.enter {
    text-align: center;
    vertical-align: middle;
    font-family: 'Cairo', sans-serif;
    text-transform: uppercase;
    margin-top: 220px;
}
.connexion {
    border: none;
}
.btn {
    border-radius: 10%;
    font-size: 25px;
}