<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">


<body>
  <div class="enter">
    <p class="home-text">
      MoneyMoney is the new app to manage your budget !
    </p>

    <div id="sidebar">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" style="background-color: #a9dfff; border: none;" *ngIf="!(Logged | async)">
        Login
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="login()">
                <div class="form-group">

                  <input type="text" class="form-control" id="inputName1" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="name" name="email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" [(ngModel)]="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary" style="background-color:#a9dfff; border:none;">Submit</button>
                <p *ngIf="feedback">{{feedback}}</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>